In [1]:
''' 1) wap to covert specified days into years, weeks and days
take user input
ignore leap year''';

days = int(input('enter days: '))

year = days // 365
mons = days // 7

print('year:months:days - ', year, mons, days)

enter days:  3667

year:months:days -  10 523 3667

In [2]:
''' 2) wap to input basic salary of an employee and calculate its gross salary according to following
bs <= 10000 : HRA = 20%, DA = 80%
bs <= 20000 : HRA = 30%, DA = 90%
bs <= 20000 : HRA = 30%, DA = 95% ''';

b_s = int(input('enter basic salary of your employee: '))

if b_s <= 10000:
    hra=b_s*0.20
    da=b_s*0.80
    g_s=b_s+hra+da
    print('gross salary = ', g_s)

elif b_s <= 20000:
    hra=b_s*0.30
    da=b_s*0.90
    g_s=b_s+hra+da
    print('gross salary = ', g_s)

elif b_s > 20000:
    hra=b_s*0.35
    da=b_s*0.95
    g_s=b_s+hra+da
    print('gross salary = ', g_s)

enter basic salary of your employee:  80000

gross salary =  184000.0

In [3]:
'''3)''';

unit=int(input('enter unit: '))

if unit <=50:
    amt=unit*0.5
    print('bill= ', amt)

elif unit <=150 and unit >50:
    amt=unit*0.75
    print('bill= ', amt)

elif unit <=250 and unit >150:
    amt=unit*1.25
    print('bill= ', amt)

elif unit > 250 :
    amt=unit*1.50
    print('bill= ', amt)

t_b = amt + 0.17
print('total bill = ', t_b )

enter unit:  243

bill=  303.75
total bill =  303.92

In [4]:
'''4)
wap and print the given pattern
1
22
333
4444
55555
''';

row=int(input('enter no of rows: '))

for i in range(1, row+1):
    print('')
    for j in range(i):
        print(i, end = ' ')

enter no of rows:  7

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7

In [1]:
#5
'''wap to calculate product of digits of a number. read value of n from user''';

n=int(input('enter number'))
mul=1
while n>0:
    rem=n%10
    mul=mul*rem
    n=n//10
print('product:',mul)

enter number 657

product: 210

In [14]:
#6
'''create list of elements like:x=[45,67,12,'hello',23.45,'world']
and perform following operations
1.extract only string values from this list
2.create a new list with strings in uppercase
3.find addition of integer values
4.check that value 56 is present in it or not
5.print list in reverse order
6.delete string hello from it
7.insert new value 36 at 5th position in list
8.count total number of elements in list now 
9.extraxt values from 2nd index to 5th index
10.append[34,'pune'] to the list
11.delete the last element from the list
''';

In [3]:
x=[45,67,12,'hello',23.45,'world']

In [4]:
#1.extract only string values from this list
y=x[3],x[-1]            
y

('hello', 'world')

In [5]:
#2.create a new list with strings in uppercase
y=[n.upper() for n in y]
y

['HELLO', 'WORLD']

In [6]:
#3.find addition of integer values

#4.check that value 56 is present in it or not
56 in x

False

In [7]:
#5.print list in reverse order
x.reverse() 
x

['world', 23.45, 'hello', 12, 67, 45]

In [8]:
#6.delete string hello from it
x.remove('hello')
x

['world', 23.45, 12, 67, 45]

In [9]:
#7.insert new value 36 at 5th position in list
x.insert(4,36)               #5thposition ,i.e. 4th index
x

['world', 23.45, 12, 67, 36, 45]

In [10]:
#8.count total number of elements in list now 
len(x)

6

In [11]:
#9.extraxt values from 2nd index to 5th index
x[2:5]

[12, 67, 36]

In [12]:

#10.append[34,'pune'] to the list
x.append([34,'pune'])
x

['world', 23.45, 12, 67, 36, 45, [34, 'pune']]

In [13]:
#11.delete the last element from the list
x.pop(-1)
x

['world', 23.45, 12, 67, 36, 45]

In [15]:
#7
'''create a tuple of elements with 5 float values in it and
perform following operations:
1.print data in sorted manner
2.check to see that element 50 is present in it
3.convert this tuple in set''';

t=(12.23,34.45,76.32,56.87,23.76)
t

(12.23, 34.45, 76.32, 56.87, 23.76)

In [16]:
#1.print data in sorted manner
sorted(t)

[12.23, 23.76, 34.45, 56.87, 76.32]

In [17]:
#2.check to see that element 50 is present in it
50 in t

False

In [18]:
#3.convert this tuple in set
m=list(t)
m

[12.23, 34.45, 76.32, 56.87, 23.76]

In [19]:
#8
'''create a dictionary of elements :{'a':'apple','b':'ball','c':'cat',
'd':'doll','k':'king'} and perform following operations:
1.access data at key 'k'
2.add a new value 'z':'zebra'
3.replace contents of 'd' as 'dog'
4.print all values from dictionary
5.find length of this dictionary''';

d={'a':'apple','b':'ball','c':'cat','d':'doll','k':'king'}
d

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'k': 'king'}

In [20]:
#1.
d['k']

'king'

In [21]:
#2.
d['z']='zebra'
d

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'k': 'king', 'z': 'zebra'}

In [22]:
#3.
d['d']='dog'
d

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog', 'k': 'king', 'z': 'zebra'}

In [23]:
#4.
d.values()

dict_values(['apple', 'ball', 'cat', 'dog', 'king', 'zebra'])

In [24]:
#5.
len(d)

6

In [25]:
#9
'''wap to find second largest element in list''';

l=[12,23,34,45,56]
sorted(l)
print('second largest element is:',l[-2])

second largest element is: 45

In [26]:
#10
'''this is list of some metallic elements:
metals=['silver','gold'....]
make a new list that is almost identical to metals list :
the new contains same items,in same order,except that it does
NOT contain the item 'copper'. ''';

metals=['silver','gold','copper','iron','zinc']
print('metals from first list=',metals)
metals.remove('copper')
metals2=metals.copy()
print('metals from second list=',metals2)

metals from first list= ['silver', 'gold', 'copper', 'iron', 'zinc']
metals from second list= ['silver', 'gold', 'iron', 'zinc']